@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=IM+Fell+DW+Pica:ital@0;1&display=swap");
h1 {
  text-decoration: underline;
}
/*seccion cursos*/
.seccion-cursos {
  padding: 3.75rem 1.25rem;
  background-color: #f5d627;
}

.topheader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 1.25rem;
  border-bottom: 1px solid #00000014;
}
.logo img {
  height: 3.75rem;
  width: auto;
}
.Menu-horizontal {
  font-family: "Bodoni Moda SC", serif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.25rem;
}
.Menu-horizontal > li {
  position: relative;
}
.Menu-horizontal a {
  text-decoration: none;
  color: black;
  padding: 0.938rem 0.75rem;
  display: block;
}
.Menu-horizontal a:hover {
  color: rgb(201, 243, 84);
}
.Menu-Vertical {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0.375rem 0 0 0;
  padding: 0.5rem 0;
  width: 11.25rem;
  background-color: rgb(130, 204, 246);
  border-radius: 0.75rem;
  box-shadow: 0 0.875rem 1.875 #0000001f;
  z-index: 9999;
}
.Menu-horizontal > li:hover > .Menu-Vertical {
  display: block;
}
.Menu-Vertical li a {
  padding: 0.625rem 0.875rem;
  color: #17324d;
}
.div-gral-cursos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}

.div-cursos-texto {
  flex: 1;
}
.div-cursos-texto h2 {
  color: white;
  margin-bottom: 0.9375rem; /* 15px */
}
.div-cursos-texto p {
  color: white;
  line-height: 1.6;
  text-align: justify;
}
.div-cursos-img {
  flex: 1;
}
.div-cursos-img img {
  width: 100%;
  max-width: 31.25rem; /* 500px */
}

/*seccion servicios*/
.seccion-servicios {
  padding: 3.75rem 1.25rem; /* 60px 20px */
  background-color: rgb(31, 91, 126);
}

.div-gral-servicios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
  gap: 2.5rem; /* 40px */
}

.div-servicios-texto {
  flex: 1;
}
.div-servicios-texto h2 {
  color: white;
  margin-bottom: 0.9375rem; /* 15px */
}
.div-servicios-texto p {
  color: white;
  line-height: 1.6;
  text-align: justify;
}

.div-servicios-vid {
  flex: 1;
}

.div-servicios-vid iframe {
  width: 100%;
  max-width: 31.25rem; /* 500px */
}

/* seccion formulario */
.seccion-formulario {
  background-color: #f2d9bb;
  padding: 2.5rem; /* 40px */
  border: 0.1875rem solid; /* 3px */
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem; /* 40px */
}
.div-cont-formulario {
  background-color: white;
  padding: 1.875rem; /* 30px */
  border: 0.125rem solid #5b04ac; /* 2px */
  border-radius: 0.625rem; /* 10px */
  width: 100%;
  max-width: 31.25rem; /* 500px */
}
.campo {
  background-color: rgb(114, 198, 250);
  padding: 0.9375rem; /* 15px */
  border: 0.0625rem solid; /* 1px */
  border-radius: 0.3125rem; /* 5px */
  margin-bottom: 0.9375rem; /* 15px */
}
.formulario {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem; /* 8px */
  color: #0243e7c0;
}
.formulario label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem; /* 8px */
}

.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 0.375rem; /* 6px */
  border: 0.0625rem solid blue; /* 1px */
  border-radius: 0.3125rem; /* 5px */
  box-sizing: border-box;
}
.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 0.625rem; /* 10px */
  margin: 0;
  border: 0.0625rem solid; /* 1px */
  background-color: rgb(202, 248, 248);
}

.lista-checkbox {
  margin-right: 6.25rem; /* 100px */
}

.formulario button {
  background-color: black;
  color: white;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
}
.boton-enviar {
  text-align: center;
}
